<button mat-mini-fab color="primary" id="iconCerrar" (click)="cerrar()">
  <mat-icon aria-label="Cerrar dialogo">cancel</mat-icon>
</button>
<mat-card>
  <mat-card-header>
    <mat-card-title>Galería de Imágenes</mat-card-title>
    <input type="file" name="file" id="file" (change)="subirImagen($event)" class="inputFile">
    <label for="file">
      <mat-icon color="primary">add_photo_alternate</mat-icon>
    </label>
  </mat-card-header>
  <mat-card-content>
    <div style="max-height: 400px; overflow: auto; background-color: rgb(216, 240, 212);">
      <div style="display: flex; flex-flow: row wrap; padding-top: 10px;">
        <div class="item-imagen-list" style="position: relative; margin-left: 10px;margin-right: 10px;margin-bottom: 10px; min-width: 0px;" *ngFor="let img of listaImagenes">
          <img src="{{urlImagen}}/md/{{img}}" class="imagen-item-articulo">
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>