<button mat-mini-fab color="primary" id="iconCerrar" (click)="cerrar()">
  <mat-icon aria-label="Cerrar dialogo">cancel</mat-icon>
</button>
<mat-card>
  <mat-card-header>
    <mat-card-title>Galería de Imágenes</mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <input matInput placeholder="Buscar" id="input-busqueda-imagenes-articulo-editor"
          (keyup)="buscarImagenesFiltroEditor()">
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="max-height: 400px; overflow: auto; background-color: rgb(216, 240, 212);">
      <div style="display: flex; flex-flow: row wrap; padding-top: 10px;">
        <div class="item-imagen-list"
          style="position: relative; margin-left: 10px;margin-right: 10px;margin-bottom: 10px; min-width: 0px;"
          *ngFor="let img of listaImagenes" id="{{img}}editor">
          <input type="radio" class="form-control"
            style="position: absolute; right: -10px;top: -10px; width: 20px; height: 20px;"
            (click)="seleccionarImagen(img)" name="imagen">
          <div class="nombre-imagen-cont" style="position: absolute; left: 0;top: 0; width: 100%; height: auto;">
            {{img}}
          </div>
          <img src="{{urlImagen}}/md/{{img}}" class="imagen-item-articulo">
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="imagenSeleccionada">Ok</button>
  </mat-card-actions>
</mat-card>