<div mat-dialog-content style="height: auto; overflow: hidden; display:flex; flex-direction: column; justify-content: center; align-items: center;">
  <h3 *ngIf="data.estado == 1" style="color: green;">Completado</h3>
  <h3 *ngIf="data.estado == 0" style="color: rgb(236, 51, 51);">Ocurrio un Error</h3>
  <h5 style="color: gray;">{{data.mensaje}} </h5>
</div>
<div mat-dialog-actions style="display: flex; flex-direction: row; justify-content: center; padding: 10px;">
  <button mat-stroked-button [mat-dialog-close]="data" style="margin-right: 10px;"> Aceptar</button>
</div>
